@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body{
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 12px;
    background-color: #222222;
    color: white;
    padding: 10px;
}

main{
    border: 1px solid black;
    height: 600px;
    min-width: 300px;
    padding-top: 20px;
}

.container{
    text-align: center;
    background-color: black;
    margin: 15px;
}

.main-details{
    margin: 25px;
}

#city-name{
    font-weight: 700;
    font-size: 20px;
}

#time{
    margin: -15px;
    font-size: 12px;
}

.temperature-details{
    font-size: 12px;
    margin: -20px;
}

#temperature{
    font-size: 40px;
}

#greeting{
    margin: -10px;
}

#image{
    margin: auto;
    padding: 15px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 20px;
}

.info-title{
    font-size: 8px;
    margin: 5px;
}

.search{
    margin: 20px;
}

.form__group {
  position: relative;
  padding: 15px;
  margin: auto;
  width: 80%;
}

.form__field {
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 18px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 12px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: grey;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 1200;
  border-width: 3px;
  border-image: linear-gradient(to right, red, orange);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: orangered;
  font-weight: 200;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}
